:root {
    --white-100: rgba(255, 255, 255, 1);
    --black-100: rgba(28, 28, 28, 1);
    --graygray-300: rgba(203, 213, 224, 1);
    --black-80: rgba(28, 28, 28, 0.8);
    --12-regular-font-family: "Inter", Helvetica;
    --12-regular-font-weight: 400;
    --12-regular-font-size: 12px;
    --12-regular-letter-spacing: 0px;
    --12-regular-line-height: 18px;
    --12-regular-font-style: normal;
    --14-regular-font-family: "Inter", Helvetica;
    --14-regular-font-weight: 400;
    --14-regular-font-size: 14px;
    --14-regular-letter-spacing: 0px;
    --14-regular-line-height: 20px;
    --14-regular-font-style: normal;
    --24-semibold-font-family: "Inter", Helvetica;
    --24-semibold-font-weight: 600;
    --24-semibold-font-size: 24px;
    --24-semibold-letter-spacing: 0px;
    --24-semibold-line-height: 36px;
    --24-semibold-font-style: normal;
    --14-semibold-font-family: "Inter", Helvetica;
    --14-semibold-font-weight: 600;
    --14-semibold-font-size: 14px;
    --14-semibold-letter-spacing: 0px;
    --14-semibold-line-height: 20px;
    --14-semibold-font-style: normal;
  }
  